@model ParkplatzVerwaltungsTool.Models.ParkingHouseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ParkingHouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <tr>
                <td>
                    @Html.Label("Parkhausname")
                    @Html.TextBoxFor(modelItem => modelItem.ParkingHouses.ParkingHouseName)
                </td>
                @foreach (var level in Model.ParkingHouseLevels)
                {
                    <td>
                        @Html.Label("Parkhauslevelname")
                        @Html.TextBoxFor(model => model.ParkingHouseLevels[0].ParkingHouseLevelName)
                    </td>
                }
            </tr>

            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
