@model ParkplatzVerwaltungsTool.Models.ParkingHouseViewModel

@{
    ViewData["Title"] = "Parkhaus erstellen";
}

<h1>Parkhaus erstellen</h1>



<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}