@model ParkplatzVerwaltungsTool.Models.ParkingHouseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ParkingHouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParkingHouses.ParkingHouseId" />
            <div class="form-group">
                <label title="Parkhausname" class="control-label"></label>
                <input asp-for="ParkingHouses.ParkingHouseName" class="form-control" />
                <span asp-validation-for="ParkingHouses.ParkingHouseName" class="text-danger"></span>
            </div>
            @foreach (var level in Model.ParkingHouseLevels)
            {
                <div class="form-group">
                    <label title="Parkhauslevel" class="control-label"></label>
                    <input asp-for="@level.ParkingHouseLevelName" class="form-control" />
                    <span asp-validation-for="@level.ParkingHouseLevelName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label title="Anzahl Parkplätze" class="control-label"></label>
                    <input asp-for="@level.ParkingPlaces" class="form-control" />
                    <span asp-validation-for="@level.ParkingPlaces" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
