@model ParkplatzVerwaltungsTool.Models.ParkingHouseViewModel

@{
    ViewData["Title"] = "Parkhaus bearbeiten";
}

<h1>Parkhaus bearbeiten</h1>

<div>
<h4>Parkhaus</h4>
<hr />
<dl class="row">
        <dt class = "col-sm-2">
            Parkhausname
        </dt>
        <dd class = "col-sm-10">
            @Html.TextBoxFor(model => model.ParkingHouses.ParkingHouseName)
        </dd>

        @foreach (var level in Model.ParkingHouseLevels)
        {
                <dt class="col-sm-2">
                    <p>Parkhauslevel</p>
                </dt>
                <dd class="col-sm-10">
                    <p>
                    @level.ParkingHouseLevelName
                    </p>
                </dd>
                <dt class="col-sm-2">
                    <p>Parkplätze @level.ParkingHouseLevelName</p>
                </dt>
                <dd class="col-sm-10">
                    <p>
                    @Html.TextBoxFor(places => places.ParkingPlaces.Count())
                    </p>
                </dd>
        }
</div>


<div>
    <a asp-action="Index">Zurück zur Liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
